

h1 {
  color: #FF9FE5;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;

}

h2 {
  color: #73648A;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;

}

