

h1 {
  color: #FF9FE5;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;

}

h2 {
  color: #73648A;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;

}

h3 {
  color: #FF9FE5;
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  font-size: 1.30rem;
}

h4 {
  color: #FFD4D4;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h5 {
  color: #E8E9F3;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

p {
  color: #FFD4D4;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
}