.projects{
    background-color: #202020;
    color: #FFD4D4;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.project-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}

.generate-logo {
    width: 15rem;     
    height: 4.5rem;   
    border-radius: 1rem;
    background-color: white;
    z-index: 1;
}

.generate-border {
    border: 2px solid #73648A;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    position: relative;
    z-index: 0;
  }

.github-icon {
    background-color: white;
    color: black; 
    border-radius: 50%; 
    padding: 6px;      
}

.github-icon:hover {
    background-color: #FF9FE5;
    transform: scale(1.1);
  }

.project-and-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.description {
    width: 50%;
    padding-right: 1rem;
}

.picture {
    width: 50%;
    display: flex;
    margin-left: 5rem;
}

.three-stones-pic {
    width: 90%;
    height: auto;
    z-index: 1;
    object-fit: cover;
}

.project-pair {
    display: flex;      
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.project-one {
    width: 50%;
    padding-right: 1rem;
}

.project-two {
    width: 50%;
}

.icon-list {
    display: flex;      
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.AA-pic {
    width: 70%;
    height: auto;
    border-radius: 1rem;
    z-index: 1;
}