.projects{
    background-color: #202020;
    color: #FFD4D4;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.project-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}

.generate-logo {
    width: 30vw;             
    max-width: 15rem;        
    height: auto;            
    aspect-ratio: 15 / 4.5;   
    border-radius: 1rem;
    background-color: white;
    z-index: 1;
  }

.generate-border {
    border: 2px solid #73648A;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    position: relative;
    z-index: 0;
  }

.github-icon {
    background-color: white;
    color: black; 
    border-radius: 50%; 
    padding: 6px;      
}

.github-icon:hover {
    background-color: #FF9FE5;
    transform: scale(1.1);
  }

.project-and-picture {
    display: flex;
    flex-wrap: wrap;          
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;   
}

.description {
    flex: 1 1 300px;           
    min-width: 280px;
    max-width: 100%;
}

.picture {
    flex: 1 1 300px;           
    max-width: 100%;
    display: flex;
    justify-content: center;  
    margin-left: 0;  
    
}

.three-stones-pic {
    width: 90%;
    max-width: 600px;     
    height: auto;
    z-index: 1;
    object-fit: cover;
    border-radius: 1rem;  
}

.project-pair {
    display: flex;      
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.project-one {
    width: 50%;
    padding-right: 1rem;
}

.project-two {
    width: 50%;
}

.icon-list {
    display: flex;      
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.AA-pic {
    width: 60%;
    max-width: 400px;  
    height: auto;
    border-radius: 1rem;
    z-index: 1;
}
